<link rel="stylesheet" href="/css/style.css">
<table id="projects">
<tr class="header_row">
<th><%= title %></th>
</tr>
<% for row in rows %>
<tr>
<td>&#x1f6a9;&nbsp; <%= row %></td>
</tr>
<% end %>
</table>
